.getBook__container {
    padding-top: 3rem;

      @include media('>=tablet') {
        padding-top: 4rem;
      }

  .getBook__wrapper {
    display: flex;
    justify-content: center;

    .getBook__box {
      background: #fcfcfd;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      padding: 1rem;

      margin: 0 1rem;

      @include media('>=phone') {
        min-width: 22rem;
      }

      @include media('>=tablet') {
        min-width: 24rem;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          margin-top: 1rem;
          outline: none;
          padding-left: 1rem;
          background: #fcfcfd;
          line-height: 2rem;
          color: $blueColor;
        }
        .button {
          color: #fff;
          padding: .7rem;
          cursor: pointer;
          background: #3d8e1c;
          border-radius: 50rem;
          border: 0.15rem solid transparent;
          transition: 0.2s;
          display: inline-block;
          align-self: center;
          margin: 0 auto;
          margin-top: 1rem;

          &:hover {
            background: #fff;
            color: #3d8e1c;
            border: 0.15rem solid #3d8e1c;
          }
        }
      }
    }
  }
}
