.price__container {
  margin-top: 4rem;
  position: relative;
  padding: 2rem 0;

  .price__wrapper {
    text-align: center;

    .price__box {
      display: flex;
      flex-direction: column;
      @include media('>=tablet') {
        padding: 0 3rem;
        h2 {
          text-align: center;
        }
      }
    }

    .promotion_info {
      font-weight: 700;
      background-color: #fff;
      margin: 2rem 0;

      .raty {
        margin-bottom: 0.5rem;
        display: inline-block;
      }
      .procent {
        margin-top: 0.5rem;
        
        p {
          font-size: 2rem;
          line-height: normal;

          @include media('>=tablet') {
            font-size: 3rem;
          }
        }
      }
      .no__pay {
        font-weight: 700;
        margin-top: 0.5rem;
        display: inline-block;
        margin-bottom: 1rem;
      }
      .last__msg {
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
      }
    }
    .prices {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;

      @include media('>=tablet') {
        flex-direction: row;
      }

      .price__info {
        padding: 2rem 1rem;
        background: #fbfbff;
        border: 1px solid #e9e9e9;
        max-width: 19rem;
        margin: 1rem auto;
        border-radius: 0.1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        text-align: left;
        display: flex;
        flex-direction: column;

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .checked {
          width: 1.2rem;
          margin-right: 0.5rem;
          fill: $blueColor;
        }

        img {
          align-self: center;
          padding-bottom: 1.5rem;
        }

        .pakiet__title {
          font-weight: 700;
          text-align: center;
          align-self: center;
        }

        p {
          color: $blueColorDark;
          display: flex;

          span {
            color: green;
            font-weight: 700;
          }
        }
        .price {
          font-size: 2rem;
          text-align: center;
          font-size: 32px;
          padding: 0.7rem 0;
          margin-bottom: 0.7rem;
          border-bottom: 1px solid #e9e9e9;

          @include media('>=tablet') {
            font-size: 44px;
          }
        }

        .interaktyvny {
          span {
            svg {
              transform: translateY(2px);
              margin-right: 0.2rem;
            }
          }
        }

        .maleinfo {
          font-size: 0.7rem;
          line-height: 1rem;
        }
      }

      .coming {
        opacity: 0.5;
        pointer-events: none;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  .price__tlo {
    position: absolute;
    top: -18rem;
    right: 0;
    z-index: -3;

    @include media('>=tablet') {
      top: -13rem;
    }
  }
}
