.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 7888;

  @include media('<=tablet') {
    display: none;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .closePopup {
        position: absolute;
        top: 0.2rem;
        height: 1rem;
        width: 1rem;
        right: .5rem;
        cursor: pointer;

        svg {
            fill: #000;
        }
    }

    .popup__info {
      padding-bottom: 1rem;

      h2 {
        padding-bottom: 1rem;
      }
    }

    .popup__getMeil {
      display: flex;
      justify-content: flex-end;
      form {
        display: flex;
        flex-direction: column;
        max-width: 24rem;

        @include media('>=tablet') {
          flex-direction: row;
          align-items: center;
        }

        input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          margin-top: 1rem;
          outline: none;
          padding-left: 1rem;
          background: #fcfcfd;
          line-height: 2rem;
          color: $blueColor;
        }
        .button {
          color: #fff;
          padding: 0.5rem;
          cursor: pointer;
          background: #3d8e1c;
          border-radius: 50rem;
          border: 0.15rem solid transparent;
          transition: 0.2s;
          display: inline-block;
          align-self: center;
          margin: 0 auto;
          margin-top: 1rem;

          @include media('>=tablet') {
            margin-left: 1rem;
          }

          &:hover {
            background: #fff;
            color: #3d8e1c;
            border: 0.15rem solid #3d8e1c;
          }
        }
      }
    }
  }
}
